body {
	background: none;
}

.full {
  background: url(http://www.buienradar.nl/image/?type=forecast3hourszozw&fn=buienradarnl-1x1-ani700-verwachting-3uur.gif) no-repeat center center fixed; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}